In [51]:
# Dependencies
import json
import pandas as pd
import os

# Load JSON
filepath = os.path.join("Resources/Jupyter Notebooks/Cleaned Datasets", "final-merged.csv")

lat_lon_df = pd.read_csv(filepath)
lat_lon_df = lat_lon_df[['business_name','latitude','longitude']]

lat_lon_df= lat_lon_df.dropna(how= 'any')
lat_lon_df =lat_lon_df.reset_index(drop = True)
lat_lon_df = lat_lon_df.head(5)
lat_lon_df

                 business_name   latitude   longitude
0  burma super star restaurant  37.783004 -122.462539
1                     the melt  37.794588 -122.399642
2            the dosa brothers  37.794588 -122.399642
3             tenroku ramen #2  37.727239 -122.432799
4     babys eatery and palabok  37.724579 -122.434879

In [90]:
import requests
import json
import requests
from pprint import pprint

url = "https://api.spatial.ai/neighborhood/point/social_score?"
lat = '37.783004'
lng = '-122.46253899999999'
test = []

# ,'37.764040' ,'-122.469029'
YOUR_API_KEY = "49ou2ajaRCKOhL6VqGXpt8caN2YnD9Qk"
query_url = url + "lat=" + lat + "&lng=" + lng + "&apikey=" + YOUR_API_KEY

response = requests.get(query_url).json()
pprint(response['social_score']['quarters'][3])
# test.append(response['social_score']['quarters'][0]['scores'][0]['value'])
# pprint(response)

{'quarter': 'Q4 2016',
 'scores': [{'category_id': 1000,
             'category_name': 'Nature Experiences',
             'value': 76.02},
            {'category_id': 1002,
             'category_name': 'Family Fun',
             'value': 63.65},
            {'category_id': 1003,
             'category_name': 'Healthy Lifestyle',
             'value': 69.05},
            {'category_id': 1004,
             'category_name': 'Nightlife Hotspot',
             'value': 52.15},
            {'category_id': 1005, 'category_name': 'Artsy', 'value': 76.14},
            {'category_id': 1006, 'category_name': 'Foodie', 'value': 79.94},
            {'category_id': 1007, 'category_name': 'Hipster', 'value': 44.4},
            {'category_id': 1008,
             'category_name': 'Beautiful Scenery',
             'value': 0.98}]}

In [55]:
# Dependencies
import json
import pandas as pd
import os
import requests
import json
from pprint import pprint
import numpy as np

# Load JSON
filepath = os.path.join("Resources/Jupyter Notebooks/Cleaned Datasets", "final-merged.csv")

lat_lon_df = pd.read_csv(filepath)
lat_lon_df = lat_lon_df[['business_name','latitude','longitude']]
lat_lon_df = lat_lon_df.dropna(subset=['latitude'])
lat_lon_df['latitude'] = lat_lon_df['latitude'].astype('str')
lat_lon_df['longitude'] = lat_lon_df['longitude'].astype('str')
lat_lon_df = lat_lon_df.head()
lat_lon_df

                  business_name            latitude            longitude
2   burma super star restaurant           37.783004  -122.46253899999999
14                     the melt           37.794588  -122.39964199999999
15            the dosa brothers           37.794588  -122.39964199999999
17             tenroku ramen #2  37.727239000000004          -122.432799
26     babys eatery and palabok           37.724579  -122.43487900000001

In [97]:
#Lists for Data Frame
restaurant = []
latit= []
long=[]
#Nature Experiences Lists
Q1_16_Nature_Exp = []
Q2_16_Nature_Exp = []
Q3_16_Nature_Exp = []
Q4_16_Nature_Exp = []
Q1_17_Nature_Exp = []
Q2_17_Nature_Exp = []
Q3_17_Nature_Exp = []
Q4_17_Nature_Exp = []

#Family Fun
Q1_16_Family_Fun = []
Q2_16_Family_Fun = []
Q3_16_Family_Fun = []
Q4_16_Family_Fun = []
Q1_17_Family_Fun = []
Q2_17_Family_Fun = []
Q3_17_Family_Fun = []
Q4_17_Family_Fun = []

#Healthy Lifestlye
Q1_16_Healthy_Lifestyle = []
Q2_16_Healthy_Lifestyle = []
Q3_16_Healthy_Lifestyle = []
Q4_16_Healthy_Lifestyle = []
Q1_17_Healthy_Lifestyle = []
Q2_17_Healthy_Lifestyle = []
Q3_17_Healthy_Lifestyle = []
Q4_17_Healthy_Lifestyle = []


#NightLife HotSpot
Q1_16_Nightlife_Hotspot = []
Q2_16_Nightlife_Hotspot = []
Q3_16_Nightlife_Hotspot = []
Q4_16_Nightlife_Hotspot = []
Q1_17_Nightlife_Hotspot = []
Q2_17_Nightlife_Hotspot = []
Q3_17_Nightlife_Hotspot = []
Q4_17_Nightlife_Hotspot = []

#Artsy
Q1_16_Artsy = []
Q2_16_Artsy = []
Q3_16_Artsy = []
Q4_16_Artsy = []
Q1_17_Artsy = []
Q2_17_Artsy = []
Q3_17_Artsy = []
Q4_17_Artsy = []

#Foodie
Q1_16_Foodie = []
Q2_16_Foodie = []
Q3_16_Foodie = []
Q4_16_Foodie = []
Q1_17_Foodie = []
Q2_17_Foodie = []
Q3_17_Foodie = []
Q4_17_Foodie = []

#Hipster
Q1_16_Hipster = []
Q2_16_Hipster = []
Q3_16_Hipster = []
Q4_16_Hipster = []
Q1_17_Hipster = []
Q2_17_Hipster = []
Q3_17_Hipster = []
Q4_17_Hipster = []

#Beutiful Scenery
Q1_16_Beautiful_Scenery = []
Q2_16_Beautiful_Scenery = []
Q3_16_Beautiful_Scenery = []
Q4_16_Beautiful_Scenery = []
Q1_17_Beautiful_Scenery = []
Q2_17_Beautiful_Scenery = []
Q3_17_Beautiful_Scenery = []
Q4_17_Beautiful_Scenery = []


for row in lat_lon_df.iterrows():
    base_url = "https://api.spatial.ai/neighborhood/point/social_score?"

    lat = row[1]['latitude']
    lng = row[1]['longitude']

    YOUR_API_KEY = "49ou2ajaRCKOhL6VqGXpt8caN2YnD9Qk"
    query_url = base_url + "lat=" + lat + "&lng=" + lng + "&apikey=" + YOUR_API_KEY

    # make request, print url
    response = requests.get(query_url).json()
#     pprint(response)
    restaurant.append(row[1]['business_name'])
    latit.append(row[1]['latitude'])
    long.append(row[1]['longitude'])
#     Q1_2016.append(response['social_score']['quarters'][0]['quarter'])

#Nature Experiences 2016- 2017
    Q1_16_Nature_Exp.append(response['social_score']['quarters'][0]['scores'][0]['value'])
    Q2_16_Nature_Exp.append(response['social_score']['quarters'][1]['scores'][0]['value'])
    Q3_16_Nature_Exp.append(response['social_score']['quarters'][2]['scores'][0]['value'])
    Q4_16_Nature_Exp.append(response['social_score']['quarters'][3]['scores'][0]['value'])
    Q1_17_Nature_Exp.append(response['social_score']['quarters'][4]['scores'][0]['value'])
    Q2_17_Nature_Exp.append(response['social_score']['quarters'][5]['scores'][0]['value'])
    Q3_17_Nature_Exp.append(response['social_score']['quarters'][6]['scores'][0]['value'])
    Q4_17_Nature_Exp.append(response['social_score']['quarters'][7]['scores'][0]['value'])

#Family Fun
    Q1_16_Family_Fun.append(response['social_score']['quarters'][0]['scores'][0]['value'])
    Q2_16_Family_Fun.append(response['social_score']['quarters'][1]['scores'][0]['value'])
    Q3_16_Family_Fun.append(response['social_score']['quarters'][2]['scores'][0]['value'])
    Q4_16_Family_Fun.append(response['social_score']['quarters'][3]['scores'][0]['value'])
    Q1_17_Family_Fun.append(response['social_score']['quarters'][4]['scores'][0]['value'])
    Q2_17_Family_Fun.append(response['social_score']['quarters'][5]['scores'][0]['value'])
    Q3_17_Family_Fun.append(response['social_score']['quarters'][6]['scores'][0]['value'])
    Q4_17_Family_Fun.append(response['social_score']['quarters'][7]['scores'][0]['value'])
    
#Healthy Lifestyle
    Q1_16_Healthy_Lifestyle.append(response['social_score']['quarters'][0]['scores'][0]['value'])
    Q2_16_Healthy_Lifestyle.append(response['social_score']['quarters'][1]['scores'][0]['value'])
    Q3_16_Healthy_Lifestyle.append(response['social_score']['quarters'][2]['scores'][0]['value'])
    Q4_16_Healthy_Lifestyle.append(response['social_score']['quarters'][3]['scores'][0]['value'])
    Q1_17_Healthy_Lifestyle.append(response['social_score']['quarters'][4]['scores'][0]['value'])
    Q2_17_Healthy_Lifestyle.append(response['social_score']['quarters'][5]['scores'][0]['value'])
    Q3_17_Healthy_Lifestyle.append(response['social_score']['quarters'][6]['scores'][0]['value'])
    Q4_17_Healthy_Lifestyle.append(response['social_score']['quarters'][7]['scores'][0]['value'])
    
#Nightlife
    Q1_16_Nightlife_Hotspot.append(response['social_score']['quarters'][0]['scores'][0]['value'])
    Q2_16_Nightlife_Hotspot.append(response['social_score']['quarters'][1]['scores'][0]['value'])
    Q3_16_Nightlife_Hotspot.append(response['social_score']['quarters'][2]['scores'][0]['value'])
    Q4_16_Nightlife_Hotspot.append(response['social_score']['quarters'][3]['scores'][0]['value'])
    Q1_17_Nightlife_Hotspot.append(response['social_score']['quarters'][4]['scores'][0]['value'])
    Q2_17_Nightlife_Hotspot.append(response['social_score']['quarters'][5]['scores'][0]['value'])
    Q3_17_Nightlife_Hotspot.append(response['social_score']['quarters'][6]['scores'][0]['value'])
    Q4_17_Nightlife_Hotspot.append(response['social_score']['quarters'][7]['scores'][0]['value'])
    
#Artsy
    Q1_16_Artsy.append(response['social_score']['quarters'][0]['scores'][0]['value'])
    Q2_16_Artsy.append(response['social_score']['quarters'][1]['scores'][0]['value'])
    Q3_16_Artsy.append(response['social_score']['quarters'][2]['scores'][0]['value'])
    Q4_16_Artsy.append(response['social_score']['quarters'][3]['scores'][0]['value'])
    Q1_17_Artsy.append(response['social_score']['quarters'][4]['scores'][0]['value'])
    Q2_17_Artsy.append(response['social_score']['quarters'][5]['scores'][0]['value'])
    Q3_17_Artsy.append(response['social_score']['quarters'][6]['scores'][0]['value'])
    Q4_17_Artsy.append(response['social_score']['quarters'][7]['scores'][0]['value'])
    
#Foodie
    Q1_16_Foodie.append(response['social_score']['quarters'][0]['scores'][0]['value'])
    Q2_16_Foodie.append(response['social_score']['quarters'][1]['scores'][0]['value'])
    Q3_16_Foodie.append(response['social_score']['quarters'][2]['scores'][0]['value'])
    Q4_16_Foodie.append(response['social_score']['quarters'][3]['scores'][0]['value'])
    Q1_17_Foodie.append(response['social_score']['quarters'][4]['scores'][0]['value'])
    Q2_17_Foodie.append(response['social_score']['quarters'][5]['scores'][0]['value'])
    Q3_17_Foodie.append(response['social_score']['quarters'][6]['scores'][0]['value'])
    Q4_17_Foodie.append(response['social_score']['quarters'][7]['scores'][0]['value'])
    
#Hipster
    Q1_16_Hipster.append(response['social_score']['quarters'][0]['scores'][0]['value'])
    Q2_16_Hipster.append(response['social_score']['quarters'][1]['scores'][0]['value'])
    Q3_16_Hipster.append(response['social_score']['quarters'][2]['scores'][0]['value'])
    Q4_16_Hipster.append(response['social_score']['quarters'][3]['scores'][0]['value'])
    Q1_17_Hipster.append(response['social_score']['quarters'][4]['scores'][0]['value'])
    Q2_17_Hipster.append(response['social_score']['quarters'][5]['scores'][0]['value'])
    Q3_17_Hipster.append(response['social_score']['quarters'][6]['scores'][0]['value'])
    Q4_17_Hipster.append(response['social_score']['quarters'][7]['scores'][0]['value'])
    
#Beautiful
    Q1_16_Beautiful_Scenery.append(response['social_score']['quarters'][0]['scores'][0]['value'])
    Q2_16_Beautiful_Scenery.append(response['social_score']['quarters'][1]['scores'][0]['value'])
    Q3_16_Beautiful_Scenery.append(response['social_score']['quarters'][2]['scores'][0]['value'])
    Q4_16_Beautiful_Scenery.append(response['social_score']['quarters'][3]['scores'][0]['value'])
    Q1_17_Beautiful_Scenery.append(response['social_score']['quarters'][4]['scores'][0]['value'])
    Q2_17_Beautiful_Scenery.append(response['social_score']['quarters'][5]['scores'][0]['value'])
    Q3_17_Beautiful_Scenery.append(response['social_score']['quarters'][6]['scores'][0]['value'])
    Q4_17_Beautiful_Scenery.append(response['social_score']['quarters'][7]['scores'][0]['value']) 


#     lat_lon_df.set_value(
#         index, "score", response["social_score"]["quarters"][0]["scores"][0]["value"])
#     lat_lon_df.head()

In [98]:

spatial_info = pd.DataFrame({'Restaurant': restaurant , 'Latitude': latit, 'Longitude':long, \
                            'Q1_16_Nature_Exp': Q2_16_Nature_Exp, 'Q2_16_Nature_Exp': Q3_16_Nature_Exp, 'Q3_16_Nature_Exp': Q3_16_Nature_Exp, 'Q4_16_Nature_Exp': Q4_16_Nature_Exp, \
                            'Q2_16_Nature_Exp': Q2_16_Nature_Exp, 'Q2_16_Nature_Exp': Q3_16_Nature_Exp, 'Q3_16_Nature_Exp': Q3_16_Nature_Exp, 'Q4_16_Nature_Exp': Q4_16_Nature_Exp, \
                            'Q3_16_Nature_Exp': Q3_16_Nature_Exp, 'Q3_16_Nature_Exp': Q3_16_Nature_Exp, 'Q3_16_Nature_Exp': Q3_16_Nature_Exp, 'Q4_16_Nature_Exp': Q4_16_Nature_Exp, \
                            'Q4_16_Nature_Exp': Q4_16_Nature_Exp, 'Q4_16_Nature_Exp': Q4_16_Nature_Exp, 'Q4_16_Nature_Exp': Q4_16_Nature_Exp, 'Q4_16_Nature_Exp': Q4_16_Nature_Exp, \
                            'Q1_16_Family_Fun': Q2_16_Family_Fun, 'Q2_16_Family_Fun': Q3_16_Family_Fun, 'Q3_16_Family_Fun': Q3_16_Family_Fun, 'Q4_16_Family_Fun': Q4_16_Family_Fun, \
                            'Q2_16_Family_Fun': Q2_16_Family_Fun, 'Q2_16_Family_Fun': Q3_16_Family_Fun, 'Q3_16_Family_Fun': Q3_16_Family_Fun, 'Q4_16_Family_Fun': Q4_16_Family_Fun, \
                            'Q3_16_Family_Fun': Q3_16_Family_Fun, 'Q3_16_Family_Fun': Q3_16_Family_Fun, 'Q3_16_Family_Fun': Q3_16_Family_Fun, 'Q4_16_Family_Fun': Q4_16_Family_Fun, \
                            'Q4_16_Family_Fun': Q4_16_Family_Fun, 'Q4_16_Family_Fun': Q4_16_Family_Fun, 'Q4_16_Family_Fun': Q4_16_Family_Fun, 'Q4_16_Family_Fun': Q4_16_Family_Fun, \
                            'Q1_16_Nightlife_Hotspot': Q2_16_Nightlife_Hotspot, 'Q2_16_Nightlife_Hotspot': Q3_16_Nightlife_Hotspot, 'Q3_16_Nightlife_Hotspot': Q3_16_Nightlife_Hotspot, 'Q4_16_Nightlife_Hotspot': Q4_16_Nightlife_Hotspot, \
                            'Q2_16_Nightlife_Hotspot': Q2_16_Nightlife_Hotspot, 'Q2_16_Nightlife_Hotspot': Q3_16_Nightlife_Hotspot, 'Q3_16_Nightlife_Hotspot': Q3_16_Nightlife_Hotspot, 'Q4_16_Nightlife_Hotspot': Q4_16_Nightlife_Hotspot, \
                            'Q3_16_Nightlife_Hotspot': Q3_16_Nightlife_Hotspot, 'Q3_16_Nightlife_Hotspot': Q3_16_Nightlife_Hotspot, 'Q3_16_Nightlife_Hotspot': Q3_16_Nightlife_Hotspot, 'Q4_16_Nightlife_Hotspot': Q4_16_Nightlife_Hotspot, \
                            'Q4_16_Nightlife_Hotspot': Q4_16_Nightlife_Hotspot, 'Q4_16_Nightlife_Hotspot': Q4_16_Nightlife_Hotspot, 'Q4_16_Nightlife_Hotspot': Q4_16_Nightlife_Hotspot, 'Q4_16_Nightlife_Hotspot': Q4_16_Nightlife_Hotspot, \
                            'Q1_16_Artsy': Q2_16_Artsy, 'Q2_16_Artsy': Q3_16_Artsy, 'Q3_16_Artsy': Q3_16_Artsy, 'Q4_16_Artsy': Q4_16_Artsy, \
                            'Q2_16_Artsy': Q2_16_Artsy, 'Q2_16_Artsy': Q3_16_Artsy, 'Q3_16_Artsy': Q3_16_Artsy, 'Q4_16_Artsy': Q4_16_Artsy, \
                            'Q3_16_Artsy': Q3_16_Artsy, 'Q3_16_Artsy': Q3_16_Artsy, 'Q3_16_Artsy': Q3_16_Artsy, 'Q4_16_Artsy': Q4_16_Artsy, \
                            'Q4_16_Artsy': Q4_16_Artsy, 'Q4_16_Artsy': Q4_16_Artsy, 'Q4_16_Artsy': Q4_16_Artsy, 'Q4_16_Artsy': Q4_16_Artsy, \
                            'Q1_16_Foodie': Q2_16_Foodie, 'Q2_16_Foodie': Q3_16_Foodie, 'Q3_16_Foodie': Q3_16_Foodie, 'Q4_16_Foodie': Q4_16_Foodie, \
                            'Q2_16_Foodie': Q2_16_Foodie, 'Q2_16_Foodie': Q3_16_Foodie, 'Q3_16_Foodie': Q3_16_Foodie, 'Q4_16_Foodie': Q4_16_Foodie, \
                            'Q3_16_Foodie': Q3_16_Foodie, 'Q3_16_Foodie': Q3_16_Foodie, 'Q3_16_Foodie': Q3_16_Foodie, 'Q4_16_Foodie': Q4_16_Foodie, \
                            'Q4_16_Foodie': Q4_16_Foodie, 'Q4_16_Foodie': Q4_16_Foodie, 'Q4_16_Foodie': Q4_16_Foodie, 'Q4_16_Foodie': Q4_16_Foodie, \
                            'Q1_16_Hipster': Q2_16_Hipster, 'Q2_16_Hipster': Q3_16_Hipster, 'Q3_16_Hipster': Q3_16_Hipster, 'Q4_16_Hipster': Q4_16_Hipster, \
                            'Q2_16_Hipster': Q2_16_Hipster, 'Q2_16_Hipster': Q3_16_Hipster, 'Q3_16_Hipster': Q3_16_Hipster, 'Q4_16_Hipster': Q4_16_Hipster, \
                            'Q3_16_Hipster': Q3_16_Hipster, 'Q3_16_Hipster': Q3_16_Hipster, 'Q3_16_Hipster': Q3_16_Hipster, 'Q4_16_Hipster': Q4_16_Hipster, \
                            'Q4_16_Hipster': Q4_16_Hipster, 'Q4_16_Hipster': Q4_16_Hipster, 'Q4_16_Hipster': Q4_16_Hipster, 'Q4_16_Hipster': Q4_16_Hipster, \
                            'Q1_16_Beautiful_Scenery': Q2_16_Beautiful_Scenery, 'Q2_16_Beautiful_Scenery': Q3_16_Beautiful_Scenery, 'Q3_16_Beautiful_Scenery': Q3_16_Beautiful_Scenery, 'Q4_16_Beautiful_Scenery': Q4_16_Beautiful_Scenery, \
                            'Q2_16_Beautiful_Scenery': Q2_16_Beautiful_Scenery, 'Q2_16_Beautiful_Scenery': Q3_16_Beautiful_Scenery, 'Q3_16_Beautiful_Scenery': Q3_16_Beautiful_Scenery, 'Q4_16_Beautiful_Scenery': Q4_16_Beautiful_Scenery, \
                            'Q3_16_Beautiful_Scenery': Q3_16_Beautiful_Scenery, 'Q3_16_Beautiful_Scenery': Q3_16_Beautiful_Scenery, 'Q3_16_Beautiful_Scenery': Q3_16_Beautiful_Scenery, 'Q4_16_Beautiful_Scenery': Q4_16_Beautiful_Scenery, \
                            'Q4_16_Beautiful_Scenery': Q4_16_Beautiful_Scenery, 'Q4_16_Beautiful_Scenery': Q4_16_Beautiful_Scenery, 'Q4_16_Beautiful_Scenery': Q4_16_Beautiful_Scenery, 'Q4_16_Beautiful_Scenery': Q4_16_Beautiful_Scenery})
spatial_info

['burma super star restaurant',
 'the melt',
 'the dosa brothers',
 'tenroku ramen #2',
 'babys eatery and palabok']

,Restaurant,Latitude,Longitude,Q1_16_Nature_Exp,Q2_16_Nature_Exp,Q3_16_Nature_Exp,Q4_16_Nature_Exp,Q1_16_Family_Fun,Q2_16_Family_Fun,Q3_16_Family_Fun,...,Q3_16_Foodie,Q4_16_Foodie,Q1_16_Hipster,Q2_16_Hipster,Q3_16_Hipster,Q4_16_Hipster,Q1_16_Beautiful_Scenery,Q2_16_Beautiful_Scenery,Q3_16_Beautiful_Scenery,Q4_16_Beautiful_Scenery
0,burma super star restaurant,37.783004,-122.46253899999999,70.45,76.45,76.45,76.02,70.45,76.45,76.45,...,76.45,76.02,70.45,76.45,76.45,76.02,70.45,76.45,76.45,76.02
1,the melt,37.794588,-122.39964199999999,74.67,77.07,77.07,72.23,74.67,77.07,77.07,...,77.07,72.23,74.67,77.07,77.07,72.23,74.67,77.07,77.07,72.23
2,the dosa brothers,37.794588,-122.39964199999999,74.67,77.07,77.07,72.23,74.67,77.07,77.07,...,77.07,72.23,74.67,77.07,77.07,72.23,74.67,77.07,77.07,72.23
3,tenroku ramen #2,37.727239000000004,-122.432799,47.76,52.74,52.74,52.01,47.76,52.74,52.74,...,52.74,52.01,47.76,52.74,52.74,52.01,47.76,52.74,52.74,52.01
4,babys eatery and palabok,37.724579,-122.43487900000001,43.48,49.49,49.49,47.58,43.48,49.49,49.49,...,49.49,47.58,43.48,49.49,49.49,47.58,43.48,49.49,49.49,47.58

In [49]:
lat_lon_df.count()

business_name    1517
latitude         1517
longitude        1517
score            1517
dtype: int64